html{
  scroll-behavior: smooth;
}
body{
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); 
  padding-top: 60px;
  color: #E31B6D;
}
.modalBack{
  height: 50vh;
  width: 50vh;
  background-color: white;
  border-radius: 20px;
}
.modalHeader{
  padding-top: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-family: 'Raleway';
  font-size: 4vh;
}
.modalText{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-family: 'Raleway';
  font-size: 2vh;
}

#intro{
  height: 100vh;
  width: 100vw;
}
.introGif{
  padding-top: 25vh;
  height: 100vh;
  width: 100vw;
  background-image: url("background.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
}
.introText{
  padding-left: 2vh;
  padding-right: 2vh;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5vh;
}
.hilight{
  color: #9aff00;
}
.introButton{
  margin-top: 50px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4vh;
  text-align: center;
  width: 45vh;
  height: auto;
  border: 2px solid white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.introButton:hover{
  background-color: aqua;
  border-color: aqua;
}
.introButton i{
  transition: all 0.4s ease;
}
.introButton:hover i{
  transform: rotateZ(90deg);
}

.nav-link{
  color: #2781d8 !important;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  margin-top: -5px;
  margin-bottom: -8px;
}
.nav-link:hover{
  color: #f29500 !important;
}

#about{
  background-color: #e9ecef;
  padding-top: 100px;
  padding-bottom: 140px;
}
#about img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.aboutTextTop{
  color: #252934;
  font-size: 6vh;
  margin-bottom: 5px;
}
.aboutSpan{
  display: inline-block;
  background-color: #252934;
  height: 4px;
  width: 10vh;
  margin-bottom: 100px;
}
.aboutHeader{
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 30px;
  color: #616161;
}
.aboutLeft{
  padding-top: 20px;
}
.aboutText{
  font-family: 'Raleway';
  font-size: 17px;
  color: #616161;
}
.aboutRight{
  padding-top: 20px;
}
.progress{
  background-color: white !important;
  height: 30px !important;
  margin-bottom: 20px;
}
.progressLeft{
  background-color: #00A1A7;
  width: 70px;
  text-align: center;
  color: white;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 18px;
}
.progress-bar{
  font-size: 16px !important;
  font-family: 'Raleway';
  font-weight: bold;
}

#projects{
  background-color:white;
  padding-top: 120px;
  padding-bottom: 140px;
}
.projectsText{
  color: #616161;
  font-size: 6vh;
  margin-bottom: 5px;
}
.projectsSpan{
  display: inline-block;
  background-color: #616161;
  height: 4px;
  width: 10vh;
  margin-bottom: 100px;
}
.card{
  margin-bottom: 50px;
  background-color: #252934 !important;
  color: white;
}
.projectsButton{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  width: 120px;
  height: auto;
  border: 2px solid white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.projectsButton:hover{
  background-color: #f29500;
  border-color: #f29500;
}
.card-text{
  padding-top: 10px;
}

#contact{
  padding-bottom: 100px;
  background-color: #252934;
}
.contactText{
  padding-top: 70px;
  color: white;
  font-size: 6vh;
  margin-bottom: 5px;
}
.contactSpan{
  display: inline-block;
  background-color: white;
  height: 4px;
  width: 10vh;
  margin-bottom: 30px;
}
.contactTextBottom{
  color: #04C2C9;
  font-family: 'Raleway';
  padding-bottom: 60px;
}
.form-control{
  border: #1E242C !important;
  background-color: #1E242C !important;
}
.input-group-text{
  color: #04C2C9 !important;
  border: #161b21 !important;
  background-color: #161b21 !important;
}
.contactButton{
  color: white;
  background-color: #252934;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  width: 120px;
  height: auto;
  border: 2px solid white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.contactButton:hover{
  background-color: #17a2b8;
  border-color: #17a2b8;
}

footer{
  background-color: #1B242F;
  padding-bottom: 40px;
}
.footerArrow{
  color: white;
  font-size: 40px;
}
.footerArrow i{
  width: 50px;
  height: 50px;
  padding-top: 5px;
  background-color: #E31B6D;
  cursor: pointer;
}
.footerArrow i:hover{
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.footerIcons{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerIcon{
  display: block;
  position: relative;
  cursor: pointer;
  background: #262F38;
  width: 55px;
  height: 55px;
  margin: 0px 15px;
  text-align: center;
  font-size: 42px;
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.footerIcon:hover{
  background: #04C2C9;
}
.footerText{
  margin-top: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #8F9AA7;
}
.footerHilight{
  color: #E31B6D;
}